<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    
    <body>
        <header>
            <div class="container">
                <img src="..assets/BNR-logo-Business-Beats.jpg" alt="BNR Logo" id="logo">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nieuws</a></li>
                        <li><a href="#">Programma's</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
    
    