<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/interaction.js" defer></script>
</head>
<body>
    
    <body>
        <header>
                <nav>
                    <img src="../assets/BNR-Logo-Business-Beats-WHITE.png" alt="BNR Logo" id="logo">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nieuws</a></li>
                        <li><a href="#">Programma's</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
        </header>
        
    
    