
@font-face {
    src: url(/BNR-Typography/PJS/PlusJakartaSans-Italic-VariableFont_wght.ttf) format('truetype');
    font-family: 'PJS';
}

:root {
    --primary-clr: #FFD200;
    --font: 'PJS', helvetica, arial, serif;
    
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
/*---------------------------------- nav section start--------------------------------------- */
nav{
    background-color: #000;
    padding: 1rem;
    display: flex;
    z-index: 2000; 
    position: relative; 
    & img{
        width: 75px;;
    }
    & ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
    }
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: var(--primary-clr);
    
    }
}
@media (min-width: 300px){
    nav li{
        display: none;
    }
}

@media (min-width: 600px){
    nav li{
        display: block;
    }
    
}
/* ---------------------------------------nav section  end-------------------------------------- */

/* ---------------------------------------hero section start-------------------------------------- */
.hero {
    background: var(--primary-clr);
    padding: 3rem 0;
    text-align: center;
    position: relative;
    z-index: 1000;
    max-height: 22em;
}
.skewed {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(44, 42%, 36%, 1) 100%); */
    background-color: #000;

    z-index: -2;
    transform: skewY(33deg);
    transform-origin: top right;
  }
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}
#bb-logo {
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 3.5em;
    right: 6em;
    z-index: -10;
}
#logo-white{
    display: none;
}

/* @media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero p {
        font-size: 1.8rem;
    }
    .skewed {
        transform: skewY(15deg);
    }
} */
@media (min-width: 768px) {
    .skewed {
        transform: skewY(20deg);
    }
    .hero h1 {
        font-size: 4rem;
    }  
    .hero p {
        font-size: 1.8rem;
    }
    #bb-logo {
        right: 16em;
    }
    #beat-visualizer{
        display: none;
    }
    .articles ul{
        flex-wrap: wrap;
        justify-content: center;

    }
}

@media (min-width: 1024px) {
    .skewed {
        transform: skewY(0deg);
    }
    .hero h1 {
        font-size: 4.5rem;
        line-break: anywhere;
        text-decoration: underline;
    }
    .hero p {
        font-size: 2rem;
    }
    #bb-logo {
        display: none;
    }
    #beat-visualizer{
        display: none;
    }
    .articles ul{
        flex-wrap: wrap;
        justify-content: center;

    }
    #logo-white{
        display: block;
        width: 600px;
        height: auto;
        display: block;
        position: relative;
        bottom: 3.5em;
        left: 28em;
      
    }
    .musicplayer{
        background-color: var(--primary-clr)
    }
    
#play-pause-button:after {
    content: "";
    background-color: rgb(158 196 193);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
} 
.articles li {
    width: calc(50% - 1rem); /* Twee kolommen met een kleine ruimte ertussen */
}
}
@media (min-width: 1440px){
   #logo-white{
        left:42em;
    }
}

   
/* ----------------------------------------hero section end------------------------------------------------ */

/* ----------------------------------------musicplayer section start------------------------------------------------ */
/* // Door de sticky class blijft de musicplayer bovenaan de pagina staan */
/* // De z-index zorgt ervoor dat de musicplayer bovenaan de pagina blijft staan boven alle andere elementen */
#audio{
    display: none;
}
#beat-visualizer{
    overflow: hidden;
    position: relative;
    left: 2em;
    z-index: -1;
}
.beat-visualizer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}

.musicplayer {
    background: rgb(158 196 193);
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* max-height: 5em; */
    svg {
        width: 3em;
        height: auto;
    }
}

.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#play-pause-button {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#play-pause-button:after {
    content: "";
    background-color: var(--primary-clr);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}


/* ----------------------------------------musicplayer section  end------------------------------------------------ */

/* --------------------------------------- articles section start------------------------------------------------ */
.articles {
    background: black;
    padding: 3rem 0;
    padding: 1em; 
    & h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: hwb(0 100% 0%);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.articles ul {
    list-style: none;
   display: flex;
   flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
}

.articles li {
    background: #000000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    }
    & img{
        width: 100%;
        height: auto;
    }
}

.articles li h2 {
    font-size: 1.6rem;
    margin: 1rem 0 0.5rem;
    color: white;
    & a{
        text-decoration: none;
        color: inherit;
        transition: color 0.3s;
    }
}

.articles li h2 a:hover {
    color:  var(--primary-clr);
}

.articles li .article-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: rgb(158 196 193);
    border-top: 1px solid hsl(200, 30%, 80%);
    padding-top: 0.5rem;
    margin-top: 1rem;
}

.articles li .article-meta .author,
.articles li .article-meta .date {
    margin: 0;
}


/* --------------------------------------- articles section end------------------------------------------------ */




input[type="range"] {
    writing-mode: bt-lr; /* Verticaal slider */
    transition: background-color 0.5s ease;
    margin: 10px 0;
    display: none; /* Begin als verborgen */
}



.volume-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 1em;
}

#volume-button {
    margin-top: 10px;
    cursor: pointer;
 background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
&:after {
    content: "";
    background-color: var(--primary-clr);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

}

#volume-button:focus + #volume,
#volume:focus {
    display: block; /* Toont de volumeregelaar bij focus */
}

